GIGACHAT_CREDENTIALS=
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_MODEL=GigaChat-2-Pro
GIGACHAT_VERIFY_SSL=false
MAX_TOKENS=2048
MAX_DIALOG_CHARS=12000
MAX_MESSAGE_CHARS=1500
MAX_CHAT_HISTORY=20 # сколько последних сообщений истории чата учитывать
